$purple-primary: #3c117f;
$light-blue-info: #0ac0ff;
$aqua: #12d7b1;
$green-success: #92d32a;
$orange-danger: #ff582c;
$orange-light-warning: #fcce07;
$dark: #242f35;
$snow: #f9fdfd;
$gray-slate-secondary: #888888;
$gray: #a1a1a1;
$steel: #ced3d4;
$pale: #eceff2;
$plain-white: #fff;
$transparent: transparent;
$link-description: #798189;
$link-color: #3c117f;
$drop-down-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.32);
$drop-down-triangle-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.32);
$header-background: rgba(255, 255, 255, 0.98);
$header-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
$facebook-icon-background: #3b5998;
$articles-title: #3f4a54;
$contacts: #5a96e5;
$privacy: #b2dff6;
$rigts: #999da1;
$privacy: #b2dff6;
